:root {
    --primary-color: #190527;
    --secondary-color: #FF7F0B ;
    --text-color: #424244;
    --white-color: #ffffff;
    --black-color: #000000;
    --bg-color: #33114D;
    --chillax-font: 'Chillax', sans-serif;
    --open-font: 'Open Sans', sans-serif;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* custom css */
.bg-color {
    background-color: var(--bg-color);
}
.heading-one {
    color: var(--white-color);
    font-family: var(--chillax-font);
    font-size: 90px;
    font-style: normal;
    font-weight: 500;
    line-height: 129px;
    letter-spacing: 2.6px;
}
.heading-two {
    color: var(--primary-color);
    font-family: var(--chillax-font);
    font-size: 80px;
    font-style: normal;
    font-weight: 500;
    line-height: 92px;
    letter-spacing: -2.036px;
}
.heading-three {
    color: var(--white-color);
    font-family: var(--chillax-font);
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 65.985px;
    letter-spacing: -1.099px;
}
.heading-four {
    color: var(--white-color);
    font-family: var(--chillax-font);
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 46.606px;
}
.heading-five {
    color: var(--white-color);
    font-family: var(--open-font);
    font-size: 21.154px;
    font-style: normal;
    font-weight: 400;
    line-height: 31.938px;
    letter-spacing: 0.648px;
}
.p-text {
    color: var(--text-color);
    font-family: var(--open-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.4px;
    letter-spacing: 0.468px;
}
.button {
    border-radius: 40px;
    background: var(--secondary-color) !important;
    color: white !important;
    padding: 14px 47px;
    text-decoration: none !important;
    transition: all 1s ease;
}
.button:hover {
    background-color: var(--primary-color);
}
.button-i {
    border-radius: 37.788px;
    border: 1.26px solid rgba(255, 255, 255, 0.14);
    background: transparent;
    transition: all 1s ease;
    padding: 14px 21px;
    color: var(--white-color);
    font-family: var(--open-font);
    font-size: 22.154px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.938px;
    letter-spacing: 0.648px;
    cursor: pointer;
}
.button-i:hover {
    background-color: var(--secondary-color);
}
/* Header css */
.nav-link {
    color: #FFF;
    font-family: var(--open-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    text-transform: uppercase;
    padding: 0 1.3rem !important;
}
.get-in-touch {
    position: absolute !important;
    right: 0;
    top: 0;
}
header {
    padding-bottom: 200px;
    position: relative;
}
.portfolio-sec {
    position: absolute; 
    /* margin-top: -6rem; */
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 62%);
}
/* About us section  */
.divider {
    background: rgba(25, 5, 39, 0.20);
    margin: 80px 0 56px 0;
    height: 1px;
}
.dot {
    border-radius: 4.793px;
    background: #424244;
    width: 4px;
    height: 4px;
}
/* Review Section */
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-image: unset !important;
}
.carousel-control-next, .carousel-control-prev {
    align-items: end !important;
}
.carousel-control-prev {
    left: unset !important;
    right: 20px !important;
}
.carousel-control-next {
    right: -55px !important;
}
/* Form section */
#form label, #fullName, #email, #phone, #project {
    color:  #190527;
    font-family: var(--chillax-font);
    font-size: 41.571px;
    font-style: normal;
    font-weight: 500;
    line-height: 78.373px;
    letter-spacing: -1.306px;
}
#form label {
    display: inline !important;
}
#form input {
    border: 0;
    background: transparent;
    border-bottom: 2px solid rgba(25, 5, 39, 0.20);
    color: var(--secondary-color);
}
#form input::placeholder {
    color: #89898A;
    font-size: 35.632px;
    font-style: normal;
    font-weight: 500;
    line-height: 78.373px;
    letter-spacing: -1.306px;
}
#form input:focus {
    outline: none;
}

/* Media queries  */
@media screen and (max-width:1700px) {
    .portfolio-sec div img {
        width: 25%;
    }
}
@media screen and (max-width:991px) {
.get-in-touch {
        position: unset !important;
    } 
}
@media screen and (max-width:576px) {
.nav-link {
        font-size: 15px !important;
    }
}