:root {
    --primary-color: #190527;
    --secondary-color: #FF7F0B ;
    --text-color: #424244;
    --white-color: #ffffff;
    --black-color: #000000;
    --bg-color: #33114D;
    --chillax-font: 'Chillax', sans-serif;
    --open-font: 'Open Sans', sans-serif;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.8s ease !important;
}
body {
    overflow-x: hidden;
}
a {
    text-decoration: none !important;
}
a:hover {
    color: var(--secondary-color) !important;
}
/* custom css */
.bg-color {
    background-color: var(--bg-color);
}
.heading-one {
    color: var(--white-color);
    font-family: var(--chillax-font);
    font-size: 90px;
    font-style: normal;
    font-weight: 500;
    line-height: 129px;
    letter-spacing: 2.6px;
}
.heading-two {
    color: var(--primary-color);
    font-family: var(--chillax-font);
    font-size: 80px;
    font-style: normal;
    font-weight: 500;
    line-height: 92px;
    letter-spacing: -2.036px;
}
.heading-three {
    color: var(--white-color);
    font-family: var(--chillax-font);
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 65.985px;
    letter-spacing: -1.099px;
}
.heading-four {
    color: var(--white-color);
    font-family: var(--chillax-font);
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 46.606px;
}
.heading-five {
    color: var(--white-color);
    font-family: var(--open-font);
    font-size: 21.154px;
    font-style: normal;
    font-weight: 400;
    line-height: 31.938px;
    letter-spacing: 0.648px;
}
.p-text {
    color: var(--text-color);
    font-family: var(--open-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.4px;
    letter-spacing: 0.468px;
}
.button, .header-btn {
    border-radius: 40px;
    background: var(--secondary-color) !important;
    color: white !important;
    padding: 16px 20px;
    text-decoration: none !important;
    transition: all 1s ease;
}
.button:hover, .header-btn:hover {
    background-color: var(--primary-color) !important;
}
.button-i {
    border-radius: 37.788px;
    border: 1.26px solid rgba(255, 255, 255, 0.14);
    background: transparent;
    transition: all 1s ease;
    padding: 14px 21px;
    color: var(--white-color);
    font-family: var(--open-font);
    font-size: 22.154px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.938px;
    letter-spacing: 0.648px;
    cursor: pointer;
}
.button-i:hover {
    background-color: var(--secondary-color);
}
/* Header css */
.nav-link {
    color: #FFF;
    font-family: var(--open-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    text-transform: uppercase;
    padding: 0 1.3rem !important;
}
.get-in-touch {
    position: absolute !important;
    right: 0;
    top: 0;
}
header {
    padding-bottom: 200px;
    position: relative;
}
.portfolio-sec {
    position: absolute; 
    /* margin-top: -6rem; */
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 62%);
}
/* About us section  */
.divider {
    background: rgba(25, 5, 39, 0.20);
    margin: 80px 0 56px 0;
    height: 1px;
}
.dot {
    border-radius: 4.793px;
    background: #424244;
    width: 4px;
    height: 4px;
}
/* Review Section */
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-image: unset !important;
}
.carousel-control-next, .carousel-control-prev {
    align-items: end !important;
}
.carousel-control-prev {
    left: unset !important;
    right: 20px !important;
}
.carousel-control-next {
    right: -55px !important;
}
/* Form section */
#form label, #fullName, #email, #phone, #project {
    color:  #190527;
    font-family: var(--chillax-font);
    font-size: 41.571px;
    font-style: normal;
    font-weight: 500;
    line-height: 78.373px;
    letter-spacing: -1.306px;
}
#form label {
    display: inline !important;
}
#form input {
    border: 0;
    background: transparent;
    border-bottom: 2px solid rgba(25, 5, 39, 0.20);
    color: var(--secondary-color);
}
#form input::placeholder {
    color: #89898A;
    font-size: 35.632px;
    font-style: normal;
    font-weight: 500;
    line-height: 78.373px;
    letter-spacing: -1.306px;
}
#form input:focus {
    outline: none;
}
#form input:-webkit-autofill{
    -webkit-text-fill-color: var(--secondary-color) !important;
    background-color: transparent !important;
}
#form input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    background-color: transparent !important;
}
/* Footer section */
.footer-heading {
    color: #FFF;
    font-family: var(--chillax-font);
    font-size: 280.32px;
    font-style: normal;
    font-weight: 500;
    line-height: 290px; /* 24.259% */
    letter-spacing: -2.554px;
}

/* Media queries  */
@media screen and (max-width:1700px) {
    .portfolio-sec div img {
        width: 20%;
    }
}
@media screen and (max-width:991px) {
    .header-btn {
        background: unset !important;
    }
    .header-btn a {
        color: rgba(255,255,255,.55) !important;
    }
    .get-in-touch {
        position: unset !important;
    }
    .heading-one {
      font-size: 60px;
      line-height: 75px;
    }
    .heading-two {
      font-size: 55px;
      line-height: 62px;
  }
  }
  @media screen and (max-width:768px) {
    .header-btn:hover {
        background-color: unset !important;
    }
    .footer-heading {
        font-size: 150px;
        line-height: 180px;
    }
    .hero-img img {
        width: 250px;
    }
    .carousel-control-next {
        right: 18%!important;
        bottom: -16% !important;
    }
    .carousel-control-prev {
        right: 33% !important;
        bottom: -16% !important;
    }
    .heading-one {
      font-size: 50px;
      line-height: 65px;
    }
    .heading-two {
      font-size: 38px;
      line-height: 48px;
  }
    .heading-three {
      font-size: 30px;
      line-height: 40px;
  }
    .heading-four {
      font-size: 25px;
      line-height: 35.606px;
  }
  #form label, #fullName, #email, #phone, #project, #form input::placeholder {
    font-size: 30px;
    line-height: 55px;
  }
  }
  @media screen and (max-width:576px) {
    #form label, #fullName, #email, #phone, #project, #form input::placeholder {
        font-size: 25px;
        line-height: 45px;
      }
    #form input {
        width: 290px !important;
    }
    .nav-link {
        font-size: 15px !important;
    }
      .heading-one {
      font-size: 45px;
      line-height: 55px;
    }
    .heading-two {
      font-size: 30px;
      line-height: 38px;
  }
    .heading-three {
      font-size: 25px;
      line-height: 30px;
  }
    .heading-four {
      font-size: 20px;
      line-height: 25.606px;
  }
  .footer-heading {
    font-size: 110px;
    line-height: 140px;
  }
  }
  @media screen and (max-width:425px) {
    #testimonial {
        padding-bottom: 5rem !important;
    }
    .heading-one {
      font-size: 32px;
      line-height: 45px;
    }
    .heading-two {
      font-size: 28px;
      line-height: 38px;
  }
    .heading-three {
      font-size: 24px;
      line-height: 30px;
  }
    .heading-four {
      font-size: 20px;
      line-height: 25.606px;
  }
    .heading-five {
      font-size: 19.154px;
      line-height: 25.938px;
  }
  }
  @media screen and (max-width:375px) {
    
  }